.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 30px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  border-radius: 8px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
}

.modal__container_type_preview {
  padding: 0;
  position: relative;
  background-color: transparent;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url("../images/close.svg");
  background-color: transparent;
  background-position: center;
  border: none;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_preview {
  padding: 0;
  position: absolute;
  background-image: url("../images/close-light.svg");
  opacity: 1;
  right: -52.5px;
  top: 0px;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #212121b2;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  border: 1px solid #21212166;
  color: #212121;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid #212121;
}

.modal__submit-btn {
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  width: 156px;
  padding: 18px 0;
  cursor: pointer;
  transition: opacity 0.1s;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  display: inline-block;
  padding: 4px 8px;
  background-color: #212121;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    min-width: 300px;
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
