.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(31, 31, 31, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 5px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  line-height: 1;
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  font-weight: 500;
  line-height: 1;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  align-self: flex-start;
}

.profile__add-btn {
  margin-left: auto;
  padding: 20px 32px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    min-width: 288px;
  }
  .profile__column {
    align-items: center;
    text-align: center;
  }
  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
  }
  .profile__description {
    margin-bottom: 32px;
  }
  .profile__edit-btn {
    margin-bottom: 20px;
    align-self: center;
  }
  .profile__add-btn {
    margin: 0;
    width: 288px;
    justify-content: center;
    align-self: center;
  }
}
