.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(31, 31, 31, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 5px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
}

.profile__description {
  margin: 0;
}

.profile__edit-btn {
  margin-top: auto;
}

.profile__add-btn {
  margin-left: auto;
  font-weight: 500;
  line-height: 1;
}
